<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del alumno</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos del alumno</h1>
        <a th:href="@{/}">Inicio</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${alumno}">
            <input type="hidden" name="activo" th:field="*{activo}" value="1" required/>
            <div th:if="${alumno.NC == null}"> 
                <label for="NC">Numero de Control: </label>
               <input type="text" name="NC" th:field="*{NC}" required/>
            <br/>
            </div>
            <div th:if="${alumno.NC != null}">
                <label for="NC">Numero de Control: </label>
                <input type="text" name="NC" th:field="*{NC}" readonly required/>
            <br/>
            </div>

            <label for="nombres">Nombre(s): </label>
            <input type="text" name="nombre" th:field="*{nombres}" required/>
            <br/>

            <label for="apellidos">Apellido(s): </label>
            <input type="text" name="apellidos" th:field="*{apellidos}" required/>
            <br/>

            <label for="carrera">Carrera: </label>
            <input type="text" name="carrera" th:field="*{carrera}" required/>
            <br/>

            <label for="correo">Correo: </label>
            <input type="email" name="correo" th:field="*{correo}" required/>
            <br/>

            <label for="telefono">Telefono: </label>
            <input type="text" name="telefono" th:field="*{telefono}" required oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="10"/>
            <br/>

            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
