<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:="http://www.w3.org/1999/xhtml">
    <head>
        <title>Materias cargadas del almuno</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <header th:replace="Plantilla/encabezado :: encabezado"></header>
        <h2 class="bajoH">Materias Cargadas del alumno</h2>
        <br/>
        <div th:if="${cargas != null and !cargas.empty}">
            <table border="2">
                <tr>
                    <th>Materia</th>
                    <th>Horario</th>
                    <th>Accion</th>                    
                </tr>
                <tr th:each="carga : ${cargas}">
                    <td>
                        <span th:each="materia : ${materias}">
                            <span th:if="${carga.id_materia == materia.id}">
                                <span th:text="${materia.nombre}"></span>
                            </span>
                        </span>
                    </td>
                    <td th:text= ${carga.horario}></td>
                    <td >
                        <a th:href="@{/showModificarCarga/} + ${carga.id}" ><button th:text="Modificar" ></button></a>
                        <a th:href="@{/eliminarCarga/} + ${carga.id}" ><button th:text="Eliminar" ></button></a>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${cargas == null or cargas.empty}">
            No hay materias cargadas
        </div>
    </body>
</html>
